body {
    background-color: midnightblue;

}

#cabeceraweb{
    background-color: white;    
}

#menuprincipal{
    background-color: brown;
}

#barralateralprincipal {
    background-color: cadetblue;
}

#seccionprincipal{
    background-color: wheat;
}

#footerprincipal{
    background-color: teal;
}